@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-controller="Voucher" asp-action="ListVouchers" asp-route-storeId="@storeId" class="nav-link @ViewData.IsActivePage("Voucher")"
           permission="@Policies.CanModifyStoreSettings">
            
            
            <svg xmlns="http://www.w3.org/2000/svg" style="    width: 20px;
                                                               margin-right: 6px;" viewBox="0 0 1536.000000 1536.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,1536.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
            <path d="M1434 12669 c-3 -6 -6 -49 -5 -95 2 -130 -17 -333 -40 -414 -75 -273 -301 -506 -574 -593 -85 -27 -163 -37 -349 -42 -128 -4 -182 -9 -188 -18 -4 -6 -8 -1315 -8 -2908 0 -2383 2 -2898 13 -2907 8 -7 102 -15 228 -21 233 -11 290 -22 409 -80 80 -39 93 -47 150 -90 154 -117 270 -284 320 -462 19 -67 33 -225 43 -454 l2 -60 5320 0 5320 0 6 195 c3 107 12 220 18 250 61 274 239 501 484 618 147 70 311 98 505 86 100 -6 115 -5 132 11 20 18 20 40 20 2915 0 2783 -1 2898 -18 2913 -15 14 -32 16 -98 11 -105 -8 -342 11 -429 34 -39 10 -100 34 -135 52 -36 18 -77 39 -91 47 -51 26 -187 152 -236 220 -74 99 -124 204 -158 333 -3 14 -10 120 -15 237 -5 117 -11 217 -15 223 -9 15 -10601 14 -10611 -1z m10099 -599 c40 -163 117 -339 211 -480 88 -131 295 -327 441 -417 101 -63 373 -173 425 -173 9 0 21 -5 28 -12 17 -17 17 -4759 0 -4776 -7 -7 -21 -12 -31 -12 -38 0 -230 -72 -342 -127 -194 -97 -406 -290 -541 -493 -73 -110 -172 -341 -189 -442 -4 -28 -12 -39 -28 -43 -12 -3 -2166 -4 -4787 -3 l-4764 3 -9 35 c-103 421 -388 777 -772 961 -103 49 -269 109 -303 109 -11 0 -25 6 -31 14 -8 10 -10 642 -9 2391 3 2102 5 2379 18 2385 8 5 44 16 80 26 327 89 615 296 814 586 74 109 196 383 196 442 0 8 4 26 10 40 l10 26 4782 -2 4782 -3 9 -35z"/>
            <path d="M8080 11514 c-84 -7 -265 -36 -309 -50 -25 -8 -54 -14 -65 -14 -12 0 -41 -6 -66 -14 -25 -8 -72 -22 -105 -32 -252 -73 -428 -148 -680 -289 -112 -63 -269 -174 -390 -278 -535 -457 -865 -1031 -998 -1732 -64 -336 -64 -720 -1 -1060 43 -230 104 -439 179 -615 35 -84 128 -270 162 -328 60 -101 83 -137 147 -227 234 -333 555 -630 901 -833 49 -29 97 -57 105 -62 28 -17 202 -100 254 -121 154 -63 196 -79 246 -94 30 -10 64 -21 76 -25 11 -5 58 -17 105 -28 291 -71 401 -84 699 -85 205 -1 270 3 400 21 269 40 483 99 765 214 65 26 272 128 355 174 327 181 673 506 899 843 336 502 486 975 508 1606 11 325 -58 774 -164 1060 -9 22 -21 56 -28 75 -170 460 -476 899 -839 1203 -168 141 -275 217 -469 331 -211 124 -560 255 -827 310 -197 41 -276 49 -545 51 -148 2 -290 1 -315 -1z m520 -569 c389 -42 726 -162 1038 -369 303 -201 580 -491 738 -772 15 -27 38 -67 51 -89 12 -22 27 -50 33 -63 5 -13 21 -46 34 -75 83 -177 153 -419 192 -667 13 -85 15 -154 12 -360 -3 -140 -11 -282 -17 -315 -7 -33 -20 -96 -28 -140 -73 -378 -238 -701 -525 -1031 -229 -265 -429 -424 -703 -561 -165 -83 -193 -95 -323 -139 -516 -173 -1108 -169 -1587 11 -38 15 -78 29 -88 32 -9 3 -70 31 -135 63 -399 195 -732 493 -977 875 -59 91 -171 318 -218 440 -21 55 -71 225 -91 310 -65 281 -65 709 0 1010 26 117 81 293 120 380 92 206 146 306 239 445 265 392 664 708 1119 885 146 57 355 112 491 129 141 18 463 19 625 1z"/>
            <path d="M7455 10436 c-12 -19 -16 -48 -14 -129 1 -58 -2 -110 -5 -116 -5 -7 -56 -11 -145 -11 -93 0 -141 -4 -149 -12 -9 -9 -12 -364 -12 -1534 0 -837 3 -1529 6 -1538 5 -14 27 -16 139 -16 73 0 140 -3 149 -6 13 -5 16 -26 16 -123 0 -78 4 -123 13 -134 11 -16 37 -17 277 -15 l265 3 3 124 c1 71 7 130 14 138 11 13 141 19 172 7 13 -5 16 -26 16 -128 0 -82 4 -126 12 -134 9 -9 84 -12 275 -12 249 0 263 1 273 19 5 11 10 72 10 135 0 133 -16 117 130 136 310 43 561 216 714 494 32 57 50 105 77 201 25 90 36 317 20 433 -20 154 -100 308 -220 427 -34 33 -61 65 -61 73 0 7 23 51 50 98 28 47 50 87 50 90 0 3 6 20 13 37 39 91 67 232 67 337 0 62 -23 207 -41 260 -68 199 -196 367 -364 475 -107 69 -271 135 -368 149 -64 9 -67 15 -67 140 0 168 22 156 -283 156 -141 0 -259 -4 -267 -10 -12 -7 -16 -38 -20 -137 l-5 -128 -92 -3 c-110 -3 -102 -15 -106 158 l-2 115 -262 3 -262 2 -16 -24z m1401 -877 c75 -28 154 -102 184 -172 14 -31 25 -81 28 -122 8 -123 -36 -222 -127 -289 -89 -65 -97 -66 -677 -66 -335 0 -525 4 -529 10 -9 14 -7 642 2 651 14 13 69 14 569 12 478 -2 492 -3 550 -24z m29 -1194 c95 -11 210 -98 260 -195 13 -25 29 -74 35 -108 31 -157 -65 -339 -218 -413 -36 -18 -72 -25 -153 -29 -154 -10 -1060 -3 -1071 8 -6 6 -12 526 -8 720 0 7 9 16 19 20 24 8 1065 6 1136 -3z"/>
            <path d="M3455 11427 c-3 -7 -4 -94 -3 -192 l3 -180 275 0 275 0 0 190 0 190 -273 3 c-216 2 -274 0 -277 -11z"/>
            <path d="M3455 10357 c-3 -7 -4 -94 -3 -192 l3 -180 275 0 275 0 0 190 0 190 -273 3 c-216 2 -274 0 -277 -11z"/>
            <path d="M3462 9322 c-9 -7 -12 -52 -10 -193 l3 -184 275 0 275 0 3 184 c2 141 -1 186 -10 193 -7 4 -128 8 -268 8 -140 0 -261 -4 -268 -8z"/>
            <path d="M3455 8247 c-3 -7 -4 -94 -3 -192 l3 -180 275 0 275 0 0 190 0 190 -273 3 c-216 2 -274 0 -277 -11z"/>
            <path d="M3455 7207 c-3 -7 -4 -94 -3 -192 l3 -180 275 0 275 0 0 190 0 190 -273 3 c-216 2 -274 0 -277 -11z"/>
            <path d="M3463 6173 c-10 -3 -13 -52 -13 -193 0 -186 0 -188 23 -194 37 -10 484 -7 511 4 l26 10 0 184 c0 158 -2 185 -16 190 -19 7 -513 7 -531 -1z"/>
            </g>
            </svg>
            
            <span>Vouchers</span>
        </a>
    </li>
}
