
@using BTCPayServer.Client
@using BTCPayServer.Plugins.LiquidPlus.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var isActive = ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) && controller is not null &&
                   nameof(CustomLiquidAssetsController).StartsWith(controller?.ToString(), StringComparison.InvariantCultureIgnoreCase);
}

    <li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">

        <a class="nav-link @(isActive ? "active" : string.Empty)"asp-action="Assets" asp-controller="CustomLiquidAssets">Liquid Assets</a>
    </li>
