@using BTCPayServer.Plugins.FixedFloat
@model BTCPayServer.Models.InvoicingModels.PaymentModel
@inject FixedFloatService FixedFloatService
@{
    var storeId =  Model.StoreId;
    var settings = await FixedFloatService.GetFixedFloatForStore(storeId);
    if (settings?.Enabled is true)
    {
        <div class="payment-tabs__tab py-0" id="FixedFloat-tab" v-on:click="switchTab('FixedFloat')" v-bind:class="{ 'active': currentTab == 'FixedFloat'}">
            <span>{{$t("Altcoins (FixedFloat)")}}</span>
        </div>
    }
}
