@using BTCPayServer.Plugins.Prism.ViewModel
@inject BTCPayServer.Services.BTCPayServerEnvironment Env
@model BasePrismPublicViewModel
@{
    Layout = null;
    ViewData["StoreBranding"] = Model.StoreBranding;
}
<!DOCTYPE html>
<html lang="en" @(Env.IsDeveloping ? " data-devenv" : "")>
<head>
    <partial name="LayoutHead" />
    @await RenderSectionAsync("PageHeadContent", false)
    <meta name="robots" content="noindex,nofollow">
</head>
<body class="min-vh-100">
    @RenderBody()

    <partial name="LayoutFoot" />
    <partial name="_ValidationScriptsPartial" />

    @await RenderSectionAsync("PageFootContent", false)
</body>
</html>
