@inject IScopeProvider ScopeProvider
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Plugins.FujiOracle
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) &&  controller is not null && 
        nameof(FujiOracleController).StartsWith(controller?.ToString(), StringComparison.InvariantCultureIgnoreCase);
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="FujiOracle" asp-action="UpdateFujiOracleSettings" asp-route-storeId="@storeId" class="nav-link js-scroll-trigger @(isActive? "active": string.Empty)">
            <svg role="img" class="icon">
            </svg>
            <span>FujiOracle</span>
        </a>
    </li>
}
