@using BTCPayServer.Components
@using BTCPayServer
@using BTCPayServer.Abstractions.Extensions
@model BTCPayServer.Plugins.Breez.PaymentsViewModel
@{
    var storeId = Context.GetCurrentStoreId();

    ViewData.SetActivePage("Breez", "Payments", "Payments");
}

<div class="row mb-4">
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 class="mb-0">
                <span>@ViewData["Title"]</span>
            </h3>
            <div class="d-flex gap-3 mt-3 mt-sm-0">

                <button type="submit" class="btn btn-primary">Send</button>
                <button type="submit" class="btn btn-primary">Receive</button>
            </div>
        </div>

        <partial name="Breez/BreezPaymentsTable" model="Model.Payments"/>
        <vc:pager view-model="Model"></vc:pager>
    </div>
</div>