@inject BreezService BreezService;
@using BTCPayServer.Plugins.Breez
@using BTCPayServer.Client
@model BTCPayServer.Models.StoreViewModels.LightningNodeViewModel

@if (Model.CryptoCode != "BTC")
{
    return;
}
@{
    var client = BreezService.GetClient(Model.StoreId);
}

@if (client is null)
{
    <a asp-action="Configure" asp-controller="Breez" permission="@Policies.CanModifyStoreSettings" asp-route-storeId="@Model.StoreId" value="Custom" type="radio" id="LightningNodeType-Breez" role="tab" aria-controls="BreezSetup" aria-selected="false" name="LightningNodeType">
        <label for="LightningNodeType-Breez">Configure Breez</label>
    </a>
}
else
{
    <input value="Custom" type="radio" id="LightningNodeType-Breez" data-bs-toggle="pill" data-bs-target="#BreezSetup" role="tab" aria-controls="BreezSetup" aria-selected="false" name="LightningNodeType" disabled="@(client is null)">
    <label for="LightningNodeType-Breez">Use Breez wallet</label>
}