@using BTCPayServer.Client
<li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">
    <a class="nav-link" asp-controller="UIElectrum" asp-action="Settings" id="ElectrumNav">Electrum</a>
</li>
