@using BTCPayServer.Abstractions.Extensions
<li class="nav-item">
    <a asp-controller="UIElectrum" asp-action="Settings" class="nav-link @ViewData.ActivePageClass("electrum-settings")" id="ElectrumNav">
        Electrum
    </a>
</li>
