@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Payments
@using BTCPayServer.PayoutProcessors
@using BTCPayServer.Payouts
@using BTCPayServer.Plugins.Prism.ViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@inject LinkGenerator LinkGenerator
@inject IScopeProvider ScopeProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject PayoutProcessorService PayoutProcessorService
@inject IEnumerable<IPayoutProcessorFactory> PayoutProcessorFactories
@model AutoTransferSettingsViewModel
@{
    ViewData["Title"] = "Store Transfers - Send now";
    var storeId = ScopeProvider.GetCurrentStoreId();
    string formAction = Url.Action("ProcessManualAutoPayment", "AutoTransfer", new { storeId });
}

<div class="sticky-header">
    <h2>
        <span>@ViewData["Title"]</span>
    </h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-controller="AutoTransfer" asp-action="Index" asp-route-storeId="@storeId" class="btn btn-secondary" role="button">Go Back</a>
        <button type="submit" form="event-form" class="btn btn-success">Send</button>
    </div>
</div>

<partial name="_StatusMessage" />

<partial name="_PayoutDestination" model="Model" view-data='new ViewDataDictionary(ViewData) { ["formAction"] = formAction }' />

