@using BTCPayServer.Client
@using BTCPayServer.Plugins.DynamicReports
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var isActive = ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) &&  controller is not null && 
                   nameof(DynamicReportsController).StartsWith(controller?.ToString(), StringComparison.InvariantCultureIgnoreCase);
}


<li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">

    <a class="nav-link @(isActive ? "active" : string.Empty)" asp-action="Update" asp-controller="DynamicReports">Dynamic Reports</a>
</li>

