@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Prism
@using BTCPayServer.Plugins.Prism.ViewModel
@inject IScopeProvider ScopeProvider
@model DestinationViewModel
@{
    ViewData.SetActivePage("Prism", "Prism Destination", "Prism");
    var storeId = ScopeProvider.GetCurrentStoreId();
    bool isEditMode = !string.IsNullOrEmpty(Model.DestinationId);
    string formAction = isEditMode
        ? Url.Action("UpdatePrismDestination", "Prism", new { destinationId = Model.DestinationId, storeId })
        : Url.Action("CreatePrismDestination", "Prism", new { storeId });
}

<div class="sticky-header">
    <h2><span>@ViewData["Title"]</span></h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a asp-controller="Prism" asp-action="ListPrismDestination" asp-route-storeId="@storeId" class="btn btn-secondary" role="button">Go Back</a>
        <button type="submit" form="event-form" class="btn btn-success">@(isEditMode ? "Update Prism destination" : "Create Prism destination")</button>
    </div>
</div>

<partial name="_StatusMessage" />

<form action="@formAction" method="post">
    <div class="row">
        <div class="col-sm-10 col-md-9 col-xl-7 col-xxl-6">
            @if (!isEditMode)
            {
                <div class="form-group">
                    <label asp-for="DestinationId" class="form-label">Destination Id</label>
                    <input asp-for="DestinationId" class="form-control" />
                </div>
            }

            <div class="form-group">
                <label asp-for="Destination" class="form-label">Destination</label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SatThreshold" class="form-label">Sats Threshold</label>
                <input asp-for="SatThreshold" class="form-control" />
                <span asp-validation-for="SatThreshold" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reserve" class="form-label">Reserve</label>
                <input asp-for="Reserve" class="form-control" />
                <span asp-validation-for="Reserve" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>