@model BTCPayServer.Models.StoreViewModels.LightningNodeViewModel
@{
    var storeId = Model.StoreId;
    if (Model.CryptoCode != "BTC")
    {
        return;
    }
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
       
       const customNodeAccordian = document.getElementById("CustomNodeSupport");
       const template = document.getElementById("nwc");
       customNodeAccordian.appendChild(template.content.cloneNode(true));
        
    });
</script>

<template id="nwc">
    <div class="accordion-item">
        <h2 class="accordion-header" id="CustomNWCHeader">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#CustomNWCContent" aria-controls="CustomNWCContent" aria-expanded="false">
                <span><strong>Nostr Wallet Connect</strong> via NIP47</span>
                <vc:icon symbol="caret-down"/>
            </button>
        </h2>
        <div id="CustomNWCContent" class="accordion-collapse collapse" aria-labelledby="CustomNWCHeader" data-bs-parent="#CustomNodeSupport">
            <div class="accordion-body">
                <ul class="pb-2">
                    <li>
                        <code><b>type=</b>nwc;<b>key=</b>nostr+walletconnect:b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c</code>
                    </li>
                    <li>
                        <code><b>nostr+walletconnect:</b>b889ff5b1513b641e2a139f661a661364979c5beee91842f8f0ef42ab558e9d4?relay=wss%3A%2F%2Frelay.damus.io&secret=71a8c14c1407c113601079c4302dab36460f0ccd0ad506f1f2dc73b5100e4f3c</code>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>